AuthUserFile https://2103pub.github.io/sample/glp1/html/.htpasswd
AuthGroupFile /dev/null
AuthName "Input ID and Password."
AuthType Basic
require valid-user
&lt;Files ~ "^.(htpasswd|htaccess)$">
  deny from all
&lt;/Files>
